<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <div>
            <%- include("err/errors.ejs") %>
            <form action="/add_genres" method="POST">
                <label for="genre">New Genre</label>
                <input type="text" name="genre" id="genre">
                <button type="submit">Add genre</button>
            </form>
        </div>
    </body>
</html>