<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <form action="/edit_genres/<%= genreId %>" method="POST">
            <label for="genre_name">Genre's name</label>
            <input type="text" name="genre_name" id="genre_name">
            <button type="submit">Update</button>
        </form>
    </body>
</html>