.home-btn{
    color:white;
    font-size: 1.5rem;
    background: slateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid white;
}