body{
    background: rgb(50, 49, 49);
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}



form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-container{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.movie{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.5rem;
}

.movie label{
    color: palevioletred;
    font-weight: bold;
}

.movie input{
    font-size: 1.7rem;
    padding-left: 10px;
    border-radius: 20px;
}
.genre{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;

    flex-wrap: wrap;
}

.genre label[for="genre"]{
    color: palevioletred;
    font-weight: bold;
}
.genre-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.poster{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.poster label{
    font-size: 1.5rem;
    color: palevioletred;
    font-weight: bold;
}

.poster input{
    font-family: Arial, Helvetica, sans-serif;
}

.submit-btn{
    display: flex;
    justify-content: center;
}

.submit-btn button{
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    background: silver;
    transition: all 0.2s ease;
}

.submit-btn button:hover{
    background-color: rgb(219, 218, 218);
}